![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [89]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

Which NYC schools have the best math results?

In [90]:
# Declare the least score for the best math average score
best_math_avg = 800 * .8

In [91]:
# Filtering schools with the best math scores
is_best_math_avg = schools["average_math"] >= best_math_avg
list_of_schools = schools[is_best_math_avg]

In [92]:
# Filter dataframe result with selected columns to display
selected_columns = list_of_schools[["school_name", "average_math"]]

# Sort the results in descending order
best_math_schools = selected_columns.sort_values(by="average_math", ascending=False)

print(f"The NYC schools with the best math results are: \n"
      f"{best_math_schools}")

The NYC schools with the best math results are:
                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

What are the top 10 performing schools based on the combined SAT scores?

In [93]:
# Creating a new column 'total_SAT' to store the combined summation of 3 SAT Tests (Math, Reading, Writing)
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

In [94]:
# Sorting the top 10 schools based on 'total_SAT' score
sorted_top_schools = schools.sort_values(by="total_SAT", ascending=False)
top_10_schools = sorted_top_schools[["school_name", "total_SAT"]].head(10)

# Display the results with 'school_name' and 'total_SAT' columns
print(f"The top 10 schools based on Total Sat Score are: \n"
      f"{top_10_schools}")

The top 10 schools based on Total Sat Score are:
                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

Which single borough has the largest standard deviation in the combined SAT score?

In [95]:
# Filter and group schools by borough
grouped_by_borough = schools.groupby("borough")["total_SAT"]

In [96]:
# Get the size, mean, and std for each borough
aggregate_group = grouped_by_borough.agg(num_schools='size', average_SAT='mean', std_SAT='std')

In [97]:
# Sort the results in descending order to get the largest standard deviation at the top row.
sort_results_descending = aggregate_group.sort_values(by="std_SAT", ascending=False)

In [98]:
# Get the top row from the results, and round the values by 2 decimal places
largest_std_dev = sort_results_descending.head(1).round(2)

print(f"The borough with the lasrgest standard deviation based on combined SAT scores is: \n"
      f"{largest_std_dev}")

The borough with the lasrgest standard deviation based on combined SAT scores is:
           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29